.header {
  padding: 1rem;
  margin: 1rem;
}

.navigation {
  background-color: aqua;
  padding: 1rem;
  border: 1px dotted burlywood;
  border-radius: 1rem;
  margin: 1rem;
  font-weight: 900;
  text-decoration: none;
  box-shadow: 2px 2px 2px black;
}
